# EditorConfig for grpc-common module
# https://editorconfig.org

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
charset = utf-8
trim_trailing_whitespace = false

# Java files
[*.java]
indent_style = space
indent_size = 4

# Proto files
[*.proto]
indent_style = space
indent_size = 2

# Properties files
[*.properties]
charset = utf-8

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2
