<?xml version="1.0" encoding="UTF-8"?>
<included>
    <property name="LOG_PATH" value="logs"/>
    <springProperty name="log.level" source="logging.level.root" defaultValue="INFO"/>
    <include resource="logback/logback-patterns.xml"/>
    <include resource="logback/logback-appenders.xml"/>
    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        <root level="${log.level}">
            <appender-ref ref="ASYNC_FILE_JSON"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="prod">
        <root level="${log.level}">
            <appender-ref ref="ASYNC_FILE_JSON"/>
        </root>
    </springProfile>
</included>