<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- ===== SERVICE INFO ===== -->
    <property name="SERVICE_NAME" value="game-service"/>
    <property name="LOG_PATH" value="logs"/>
    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx"/>

    <!-- ===== JSON FILE APPENDER ===== -->
    <appender name="FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${SERVICE_NAME}.json.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${SERVICE_NAME}.%d{yyyy-MM-dd}.%i.json.gz</fileNamePattern>
            <maxHistory>14</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
            <maxFileSize>50MB</maxFileSize>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <message/>
                <mdc/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <!-- ===== ASYNC JSON APPENDER ===== -->
    <appender name="ASYNC_FILE_JSON" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE_JSON"/>
        <queueSize>5000</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <!-- ===== LOG LEVEL PROPERTY ===== -->
    <springProperty name="log.level" source="logging.level.root" defaultValue="INFO" />

    <!-- ===== DEV PROFILE ===== -->
    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        <root level="${log.level}">
            <appender-ref ref="ASYNC_FILE_JSON"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- ===== PROD PROFILE ===== -->
    <springProfile name="prod">
        <root level="${log.level}">
            <appender-ref ref="ASYNC_FILE_JSON"/>
        </root>
    </springProfile>

</configuration>